@import '../../styles/base';
@import '../../styles/variables';
@import '../../styles/breakpoints';

.notification_wrapper{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    color: white;
}


.notification_item{
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    animation: SlideLeft 0.4s;
    animation-fill-mode: forwards;
    width: 300px;
}

@keyframes SlideLeft{
    0%{
        margin-left: 120%;
    }

    100%{
        margin-left: 0%;
    }
}

@keyframes SlideRight{
    0%{
        margin-left: 0%;
    }

    100%{
        margin-left: 120%;
    }
}

.exit{
    animation: SlideRight 0.4s;
    animation-fill-mode: forwards;
    width: 300px;
}


.notification_item p{
    margin: 0;
    padding: 15px;
    font-size: 1.8rem;
}

.notification_item .bar{
    height: 10px;
    background-color: $primary;
}


.success .bar {
    background-color: #65d266;
}

.error .bar {
    background-color: rgb(240, 61, 61);
}




