@import '../../styles/variables';
@import '../../styles/breakpoints';
@import '../../styles/base';

.section{
    background: $secondary;
    padding: 14rem 0 17rem 0;

    #{&}_flex{
        @include flex(space-between,center);

        @include breakpoint(1000px){
            flex-direction: column;
            gap: 4rem;
        }
    }

    #{&}_text{
        @include flex(center, flex-start);
        flex-direction: column;
        color: white;

        @include breakpoint(1000px){
            width: 720px;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    #{&}_span{
        font-size: 400;
        font-family: $secondary-font;
        font-size: 1.5rem;
        line-height: 22px;
        letter-spacing: 3px;
        text-transform: uppercase;
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        padding: 1rem 1rem;
        transition: 0.2s all;

        &:hover{
            border-left: 1px solid $primary;
            border-right: 1px solid $primary;
        }
    }

    #{&}_title{
        padding: 1.2rem 0;
        font-weight: 400;
        font-size: 4rem;
        line-height: 56px;
        letter-spacing: 0.2px;
        color: #fff;
        font-family: $primary-font;
    }


    #{&}_subtitle{
        font-weight: 400;
        font-family: $secondary-font;
        font-size: 2rem;
        line-height: 3rem;
        letter-spacing: 0.2px;
        color: #fff;
    }

    #{&}_icons{
        display: flex;
        justify-content: space-between;
    }

    .section_icons_items{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 5rem;
        border: 20px solid #323841;
        margin: 0 15px 0 15px;
    }

    .section_icons_text{
        color: #fff;
        text-align: center;
        padding: 1.5rem 0 0 0;
        font-family: $primary-font;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0.2px;
    }
}