@import '../../styles/base';
@import '../../styles/variables';
@import '../../styles/breakpoints'; 

.menulist{
    padding: 2rem 2rem;

    #{&}_grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #{&}_items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 300px;
    }


    #{&}_text{
        text-align: start;
        font-family: $primary-font;
        font-size: 5rem;
        padding: 0 0 5rem 0;
        font-weight: 400;
        color: $secondary;
    }

    #{&}_name{
        font-size: 3rem;
    }

    #{&}_pic{
        width: 300px;
        margin: 1rem 0 1rem 0;
        border-radius: 50px;
        border: 1px solid $primary;
    }

    hr{
        width: 100%;
        background: #000;
    }

    #{&}_content{
        font-family: $secondary-font;
        font-size: 1.5rem;
        padding: 1rem 0 0 0;
    }
}