@import '../../styles/variables';

.section{
    padding: 14rem 0 14rem 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    #{&}_flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(41, 46, 54, 0.95);
        padding: 14rem 10rem;
    }

    #{&}_span{
    color: white;
    font-family: $secondary-font;
    font-size: 1.5rem;
    line-height: 22px;
    letter-spacing: 3px;
    text-align: center;
    border-inline: 1px solid transparent;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    padding: 1rem 1rem;
    text-transform: uppercase;
    transition: 0.2s all;

        &:hover{
        border-inline: 1px solid $primary;
         }
    }

    #{&}_title{
        font-family: $primary-font;
        color: #fff;
        font-weight: 400;
        font-size: 4rem;
        line-height: 56px;
        letter-spacing: 0.2px;
        text-align: center;
        padding: 1rem 0;
    }


    #{&}_input_one{
        display: flex;
        justify-content: center;
        gap: 2rem;

        input{
            width: 300px;
        }
    }

    #{&}_input_two{
        padding: 2rem;
        display: flex;
        justify-content: center;
        gap: 3rem;

        input{
            width: 187px;
        }
    }

    input{
        background: none;
        border: 1px solid #858585;
        padding: 2rem 2rem;
        color: #fff;
        font-size: 2rem;
        font-family: $primary-font;
        

        &::placeholder{
            color: #878787;
            font-family: $primary-font;
            font-size: 2rem;
        }
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

::-webkit-datetime-edit-text { color:white; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: #878787; }
::-webkit-datetime-edit-day-field { color: #878787; }
::-webkit-datetime-edit-year-field { color: #878787; }
::-webkit-calendar-picker-indicator { display: none; }

    #{&}_btn{
        background: #fff;
        max-width: 242px;
        color: #000;
        font-weight: 400;
        font-family: $secondary-font;
        font-size: 2.2rem;
        line-height: 33px;
        letter-spacing: 0.2px;
        text-align: center;
        padding: 1rem 2rem;
        border: none;
    }

}