@import '../../styles/variables';
@import '../../styles/breakpoints';

.section_flex{
        @include flex(flex-start, center);
        gap: 2rem;

        @include breakpoint(1000px){
            align-items: center;
            justify-content: flex-start;
            width: 400px;
        }
}

    .section_title{
        font-weight: 400;
        font-size: 3rem;
        color: $secondary;
        font-family: $primary-font;
        padding: 1rem 0;
    }

    .section_subtitle{
        padding: 1rem 0;
        font-weight: 400;
        font-size: 1.9rem;
        color: $secondary-text;
        font-family: $secondary-font;
    }

    .section_icons{
        @include breakpoint (800px){
            width: 70px;
        }
    }