@import '../../styles/variables';
@import '../../styles/breakpoints';

.blog_page{
    padding: 4rem 4rem;
    position: relative;

 #{&}_grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;

    @include breakpoint(800px){
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      gap: 4rem;
   }
 }

 #{&}_item{
    @include flex(flex-start, flex-start);
    flex-direction: column;
    padding: 0 2rem;
    position: relative;

    @include breakpoint(800px){
      max-width: 600px;
   }
    
 }

 #{&}_delete{
   position: absolute;
   right: 50px;
   background: none;
   border: none;
   font-size: 3rem;
   transition: 0.2s all;
   border: 2px solid transparent;
   padding: 5px;
   border-radius: 15px;

   &:hover{
      transform: rotateY(180deg);
      border: 2px solid red;
   }
 }
 
 #{&}_category{
   font-weight: 400;
   font-family: $secondary-font;
   font-size: 1.5rem;
   line-height: 22px;
   letter-spacing: 3px;
   color: $secondary;
   border-top: 1px solid $primary;
   border-bottom: 1px solid $primary;
   border-inline: 1px solid transparent;
   text-transform: uppercase;
   padding: 0.5rem 1rem;
   transition: 0.2s all;
   margin: 1rem 0 0 0;

 &:hover{
   border-inline: 1px solid $primary;
 }
 }

 #{&}_pic{
    width: 300px;
 }

 #{&}_title{
    font-weight: 400;
    font-family: $primary-font;
    font-size: 3rem;
    line-height: 39px;
    letter-spacing: 0.2px;
    color: $secondary;
    padding: 2rem 0rem;

    @include breakpoint(800px){
      padding: 1rem 0;
   }
 }

 #{&}_title_main{
   @extend .blog_page_title;

   @include breakpoint(800px){
   text-align: center;
   font-size: 4rem;
   padding: 0;
}
 }

 #{&}_content{
    font-weight: 400;
    font-family: $secondary-font;
    font-size: 2rem;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: $secondary-text;
 }

}

.modal_btn{
   position: fixed;
   top: 306px;
   left: 10px;
   background: none;
   border-radius: 5px;
   padding: 0rem 2rem;
   color: $secondary;
   border: 1px solid $primary;
   font-size: 2rem;

   @include breakpoint(800px){
      position: static;
      margin: 20px auto;
      left: 0;
      top: 0;
      padding: 0%;
      width: 100%;
      font-size: 3rem;
   }
}

.add_form{
   display: grid;
   grid-template-columns: 1fr;
   gap: 20px;
   position: relative;
 }

.add_label{
   font-size: 3rem;
}

.add_btn{
   background: none;
   border-radius: 5px;
   padding: 1rem 2rem;
   color: $secondary;
   border: 1px solid $primary;
}

:disabled{
   background: gray;
   color: white;
   opacity: 0.5;
}





