// Theme colors
$primary: #e1b168;
$secondary: #292e36;
$secondary-text: #555555;
$card-bg: #343942;

// Font families
$primary-font: 'Cormorant Infant', serif;
$secondary-font: 'Josefin Sans', sans-serif;
