@import '../../styles/variables';
@import '../../styles/breakpoints';

.header{
    background: $secondary;
    padding: 1.4rem 0;
    border-bottom: 1px solid $hr-color;
    

    #{&}_flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #{&}_phone{
        color: white;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        padding: 2rem 6rem;
        width: 20%;
        border: 2px solid $primary;
        margin: 0 1.5rem;
        background: none;
        text-align: center;

        @include breakpoint(560px){
            width: 170px;
            font-size: 1.5rem;
            padding: 1rem 2rem;
        }
    }

    #{&}_logo{
        max-width: 100%;
        max-height: 200px;
        transition: 0.2s all;
        @include lg{
            max-width: 180px;
        }

        @include md{
            max-width: 100px
        }
    }

    #{&}_btn{
       @extend .header_phone;
       color: $secondary;
       padding: 2rem 8.5rem;
       background: $primary;
       transition: 0.2s all;
       font-family: $secondary-font;

       @include breakpoint(560px){
        width: 170px;
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

       &:hover{
        background: none;
        color: white;
       }
    }
}

.navbar{
    padding: 2.5rem 2rem;
    background: $secondary;



    #{&}_flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #{&}_items{
        display: flex;
        gap: 6rem;
        margin: 0 1.5rem;

        @include lg{
            gap: 4rem;
        }

        @include md{
            gap: 2rem;
        }
    }

    #{&}_item{
        font-size: 2rem;
        font-weight: 400;
        color: white;
        transition: 0.2s all;

        &:hover{
            color: $primary;
        }
    }

    #{&}_icons{
        display: flex;
        gap: 2rem;
        @include breakpoint(560px){
            display: none;
        }
    }

}
