.header {
    padding: 20px;
    border: 1px solid black;
    font-size: 2rem;
    color: indigo;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}