@import '../../styles/variables';
@import '../../styles/base';
@import '../../styles/breakpoints';

.section{
    padding: 14rem 0 0 0;

    #{&}_flex{
        @include flex(center, center);
        flex-direction: column;
    }

    #{&}_text{
        @extend .section_flex;
        gap: 20px;
        padding: 0 0 4rem 0;
        
    }

    #{&}_span{
        font-size: 1.5rem;
        font-family: $secondary-font;
        line-height: 22px;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        color: $secondary;
        border-inline: 1px solid transparent;
        border-top: 1px solid $primary;
        border-bottom: 1px solid $primary;
        padding: 1rem 1rem;
        transition: 0.2s all;

        &:hover{
            border-inline: 1px solid $primary;
        }
    }

    #{&}_title{
        font-family: $primary-font;
        font-weight: 400;
        font-size: 4rem;
        line-height: 56px;
        letter-spacing: 0.2px;
        text-align: center;
        color: $secondary;
    }

    #{&}_subtitle{
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 2rem;
        line-height: 30px;
        letter-spacing: 0.2px;
        text-align: center;
        color: $secondary-text;
    }

    #{&}_blog{
        padding: 0 0 1rem 0;
        @include flex(center, center);
        justify-content: center;
        align-items: center;

        @include breakpoint(1000px){
            flex-direction: column
        }
    }

    #{&}_btn{
    background: none;
    border: 2px solid $primary;
    padding: 2rem 6rem;
    color: $primary;
    font-weight: 400;
    text-align: center;
    font-size: 2.2rem;
    display: block;
    width: 95%;
    margin: 2rem auto;
    }
}

.preview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    height: 40rem;
    margin: 2rem 2rem;
    padding: 0 5rem;
    border: 1px solid $primary;

    @include breakpoint(550px){
        margin: 2rem 1rem;
        height: 55rem;
    }

    #{&}_pic{
        width: 100px;
        align-self: flex-start;
        justify-self: center;
    }

   
 #{&}_category{
    font-weight: 400;
    font-family: $secondary-font;
    font-size: 1.5rem;
    line-height: 22px;
    letter-spacing: 3px;
    color: $secondary;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
    border-inline: 1px solid transparent;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: 0.2s all;
    margin: 1rem 0 0 0;
 
  &:hover{
    border-inline: 1px solid $primary;
  }
  }

    #{&}_title{
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 39px;
        letter-spacing: 0.2px;
        color: $secondary-font;
        font-family: $primary-font;
    }

    #{&}_content{
        font-weight: 400;
        font-family: $secondary-font;
        font-size: 2rem;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: $secondary-text;
    }
}

