@import './styles/variables';
@import './styles/breakpoints';

.reaction-btn-container{
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem 0 0 0;
}

.reactionButton{
    background: none;
    border: none;
    font-size: 2rem;
}

.to_top_btn_main{
    position: fixed;
    top: 870px;
    margin-left: 10px;
    border: 3px solid $primary;
    background: $secondary;
    border-radius: 50%;
    color: #fff;
    padding: 0.2rem;
    background: none;
    background: $secondary;

    #{&}_arrow{
        background: none;
        border-radius: 50%;
        width: 40px;
    }
}

.list-container{
    border: 1px solid red;
    margin: 0 auto;
    width: 500px;
    padding: 30px;
}

.list-item{
    padding: 5px;
    font-size: 2rem;
    cursor: move;
}