@import '../../styles/variables';
@import '../../styles/breakpoints';

.section{
    background: $secondary-second;
    padding: 0rem 4rem 12rem 4rem;

    @include breakpoint(1245px){
        padding: 0 1rem 5rem 1rem;
    }

    #{&}_flex{
        @include flex(center, center);
        gap: 4.5rem;

        @include breakpoint(1175px){
            gap: 2rem;
        }

        @include breakpoint(660px){
            flex-direction: column;
        }
    }

    #{&}_pic{
        max-width: 80rem;
        max-height: 80rem;
        border: 1px solid $primary;

        @include breakpoint(1175px){
            max-width: 60rem;
            min-height: 60rem;
        }

        @include breakpoint(660px){
            max-width: 100%;
            max-height: 100%;
        }
    }

    #{&}_text{
        @include flex(space-between, flex-start);
        flex-direction: column;
        height: 430px;

        @include breakpoint(970px){
            justify-content: center;
            align-items: center;
        }

        @include breakpoint(660px){
            padding: 0 2rem;
            height: 200px;
        }
    }

    #{&}_title{
        font-weight: 400;
        font-size: 4rem;
        font-family: $primary-font;
        color: $secondary;
    }

    #{&}_subtitle{
        font-weight: 400;
        font-size: 2rem;
        color: $secondary-text;
        font-family: $secondary-font;
        line-height: 3rem;
    }

    #{&}_text_flex{
        display: flex;
        gap: 20px;
        padding: 4rem 0;
    }
}