@import '../../styles/variables';

.section{
    background: $secondary-second;

    #{&}_flex{
        @include flex(center, center);
        gap: 4.5rem;
    }

    #{&}_pic{
        max-width: 80rem;
        max-height: 80rem;
        border: 1px solid $primary;
    }

    #{&}_text{
        @include flex(space-between, flex-start);
        flex-direction: column;
        max-height: 300px;
    }

    #{&}_title{
        font-weight: 400;
        font-size: 4rem;
        font-family: $primary-font;
        color: $secondary;
    }

    #{&}_subtitle{
        font-weight: 400;
        font-size: 2rem;
        color: $secondary-text;
        font-family: $secondary-font;
        line-height: 3rem;
    }

    #{&}_text_flex{
        display: flex;
        gap: 20px;
        padding: 4rem 0;
    }
}