@import '../../styles/base';
@import '../../styles/breakpoints';
@import '../../styles/variables';

.reserve{
    padding: 4rem 0;
    background: #e8ecf2;


    #{&}_text{
        text-align: center;
        font-size: 4rem;
        font-family: $primary-font;
    }

    #{&}_item{
        display: flex;
        justify-content: center;
        padding: 4rem 0 ;
        gap: 3rem;
    }

    #{&}_link{
        font-size: 1.9rem;
        color: $secondary;
    }
}

.hall{
    background: #e8ecf2;

    #{&}_item{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 3rem;
    }

    #{&}_reserved{
        background: #e8ecf2;
        color: black;
        border-radius: 9999px;
        border: 4px solid #e8ecf2;
        border: none;
        width: 200px;
        height: 200px;
        font-family: $primary-font;
        font-size: 4rem;
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0.2s all;

        &:hover{
            // color: rgb(211,24,24);
            color: $primary;
            box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6), 1px 1px 5px rgba(0, 0, 0, 0.3),
            inset -2px -2px 5px rgba(255,255,255,1),
            inset 2px 2px 4px rgba(0,0,0,0.3);
        }
    }

    #{&}_not_reserved{
        @extend .hall_reserved;
        color: rgb(184, 27, 27);

        &:hover{
            color: red;
        }
    }
}

.terrace{
    @extend .reserve;


#{&}_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}


#{&}_reserved{
    background: #e8ecf2;
    color: black;
    border-radius: 9999px;
    border: 4px solid #e8ecf2;
    border: none;
    width: 200px;
    height: 200px;
    font-family: $primary-font;
    font-size: 4rem;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s all;

    &:hover{
        // color: rgb(211,24,24);
        color: $primary;
        box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6), 1px 1px 5px rgba(0, 0, 0, 0.3),
        inset -2px -2px 5px rgba(255,255,255,1),
        inset 2px 2px 4px rgba(0,0,0,0.3);
    }
}

#{&}_not_reserved{
    @extend .terrace_reserved;
    color: rgb(184, 27, 27);

    &:hover{
        color: red;
    }
}

}

.modal_reserve{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2{
        font-size: 3rem;
    }

    button{
        border: 1px solid $primary;
        background: none;
        padding: 1rem 2rem;
    }
}