@import '../../styles/base';
@import '../../styles/breakpoints';
@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

.reserve{
    padding: 4rem 0;
    background: #e8ecf2;


    #{&}_text{
        text-align: center;
        font-size: 4rem;
        font-family: $primary-font;
    }

    #{&}_item{
        display: flex;
        justify-content: center;
        padding: 4rem 0 0 0;
        gap: 3rem;
    }

    .link{
        font-size: 2.2rem;
        color: $secondary;
    }

    .link_active{
        font-size: 2.2rem;
        color: $primary;
    }
}

.hall{
    background: #e8ecf2;
    padding: 0 15px 5rem 15px;
    display: grid;
    position: relative;

    .tees{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    #{&}_item{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 3rem;

        @include breakpoint(1150px){
            grid-template-columns: repeat(4, 1fr);
        }

        @include breakpoint(900px){
            grid-template-columns: repeat(3,1fr);
        }

        @include breakpoint(680px){
            grid-template-columns: repeat(2,1fr);
        }

        @include breakpoint(450px){
            grid-template-columns: 1fr;
            margin: 0 25%;
        }
    }

    #{&}_reserved{
        background: #e8ecf2;
        color: black;
        border-radius: 9999px;
        border: 4px solid #e8ecf2;
        border: none;
        width: 200px;
        height: 200px;
        font-family: $primary-font;
        font-size: 4rem;
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0.2s all;

        &:hover{
            // color: rgb(211,24,24);
            color: $primary;
            box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6), 1px 1px 5px rgba(0, 0, 0, 0.3),
            inset -2px -2px 5px rgba(255,255,255,1),
            inset 2px 2px 4px rgba(0,0,0,0.3);
        }
    }

    #{&}_not_reserved{
        @extend .hall_reserved;
        color: rgb(249, 4, 4);

        &:hover{
            color: rgb(149, 47, 47);
        }
    }
}

.terrace{
    @extend .reserve;
    padding: 0 0 4rem 0;
    display: grid;


    .tees{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }



#{&}_grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    @include breakpoint(1150px){
        grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint(900px){
        grid-template-columns: repeat(3,1fr);
    }

    @include breakpoint(680px){
        grid-template-columns: repeat(2,1fr);
    }

    @include breakpoint(450px){
        grid-template-columns: 1fr;
        margin: 0 25%;
    }
}


#{&}_reserved{
    background: #e8ecf2;
    color: black;
    border-radius: 9999px;
    border: 4px solid #e8ecf2;
    border: none;
    width: 200px;
    height: 200px;
    font-family: $primary-font;
    font-size: 4rem;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s all;

    &:hover{
        // color: rgb(211,24,24);
        color: $primary;
        box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6), 1px 1px 5px rgba(0, 0, 0, 0.3),
        inset -2px -2px 5px rgba(255,255,255,1),
        inset 2px 2px 4px rgba(0,0,0,0.3);
    }
}

#{&}_not_reserved{
    @extend .terrace_reserved;
    color: rgb(184, 27, 27);

    &:hover{
        color: red;
    }
}

}

.modal_reserve{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    button{
        border: 1px solid $primary;
        background: none;
        padding: 1rem 2rem;
    }
}

.card{
    font-family: 'Montserrat', sans-serif;
    width: 330px;
    height: 180px;
    background: linear-gradient(-25deg, black, #444, black);
    border-radius: 15px;
    color: white;
    position: relative;
    overflow: hidden;
    text-shadow: 0 2px 0 black;
    padding: 1.5rem 2rem;
    box-shadow: 0 10px 50px -10px black;
}

.card_mir{
    font-family: 'Montserrat', sans-serif;
    width: 330px;
    height: 180px;
    background: linear-gradient(-25deg, rgb(14, 144, 45), rgb(5, 130, 36), rgb(47, 188, 8));
    border-radius: 15px;
    color: white;
    position: relative;
    overflow: hidden;
    text-shadow: 0 2px 0 rgb(0, 0, 0);
    padding: 1.5rem 2rem;
    box-shadow: 0 10px 50px -10px rgb(92, 94, 91);
}

.card_milli{
    font-family: 'Montserrat', sans-serif;
    width: 330px;
    height: 180px;
    background: linear-gradient(-25deg, rgb(194, 198, 195), rgb(253, 253, 253), rgb(255, 255, 255));
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    padding: 1.5rem 2rem;
    box-shadow: 0 10px 50px -10px rgb(92, 94, 91);
}

.card_flex{
    display: flex;
    justify-content: space-between;

    button{
        border: 1px solid transparent;
    }
}

.card_flex_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card_main_text{
    font-size: 2.5rem;
    padding: 1rem 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wifi{
    width: 40px;
    transform: rotate(90deg);
    filter: invert(90%) sepia(90%) saturate(29%) hue-rotate(200deg) brightness(300%) contrast(70%);
}

.wifi_milli{
    transform: rotate(90deg);
}

.chip{
    width: 25px;
}


// Card btn
.icon{
    width: 50px;
}

.card_flex_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.card_info{
    display: flex;
    flex-direction: column;
    gap: 1px;

}

.card_name{
    font-size: 1.6rem;
}

.card_number{
    font-weight: 500;
    font-family: 'Exo', sans-serif;
    font-size: 1.1rem;
}


.mask_input{
    border: 0.5px solid gray;
    padding: 1.5rem 1rem;
    border-radius: 5px;
}

.remove_reserve_btn{
display: flex;
justify-content: center;
    background: #e8ecf2;
    color: black;
    border-radius: 12px;
    border: 4px solid #e8ecf2;
    border: none;
    width: 180px;
    // height: 20px;
    font-family: $primary-font;
    font-size: 1.5rem;
    padding: 10px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s all;

    &:hover{
        // color: rgb(211,24,24);
        color: $primary;
        box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.6), 1px 1px 5px rgba(0, 0, 0, 0.3),
        inset -2px -2px 5px rgba(255,255,255,1),
        inset 2px 2px 4px rgba(0,0,0,0.3);
    }
}

.aside_radio{
    position: absolute;
    top: 0;
}